################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ajedrez/.vs/Ajedrez/v17/ipch/AutoPCH/709cc4fb8235d604/FICHAS.ipch
